$font: system-ui, 'Helvetica Neue', sans-serif;

$accent: #76A646;
$accent: #2180ce;

$pale: hsl(0, 0%, 87%);
$gray: hsl(0, 0%, 65%);

$box-shadow: 0 0 5px rgba(black, 0.5);

$radius: 5px;
$width: 600px;